// Clearfix
// --------------------------------------------------------
@mixin clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

// Link
// --------------------------------------------------------
@mixin link(
  $color: $anchor-font-color,
  $text-decoration: underline,
  $hover-color: $anchor-font-color-hover
) {
  color: $color;
  &.active, &:hover {
    color: $hover-color;
    text-decoration: $text-decoration;
  }
}

// Colorize foundation icons
// ------------------------------------------
@mixin icon(
  $normal-color,
  $round-color: $primary-color
) {
  &:before {
    color: $normal-color;
  }
  // Invert the colors if the icon is set the round.
  &.icon-round:before {
    background-color: $normal-color;
    color: $round-color;
  }
}

@mixin throbber(
  $size: 14px,
  $color: $primary-color
) {
  width: $size;
  height: $size;
  border: solid 2px transparent;
  border-top-color: $color;
  border-left-color: $color;
  border-radius: $size * 0.75;
  animation: throbber-spinner 400ms linear infinite;
}

@keyframes throbber-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
